.notification-item {

  text-decoration: none !important;
  padding: 12px 12px 0 12px;
  transition: background-color 0.3s ease-in-out;


  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
    padding-bottom: 12px;

  }

  &:last-child .notification-item__inner {
    border: none;
  }

  &:hover {
    background-color: rgba(9, 30, 66, 0.0588235294);
  }

  &__top {
    display: flex;
    gap: 10px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__task-name {
    font-weight: 600;
  }

  &__name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__top-left {
    font-weight: 600;
  }

  &__top-right {
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 40px);
  }

  &__content-body {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(9, 30, 66, 0.2509803922), 0 0 3px rgba(9, 30, 66, 0.3098039216);
    padding: 8px 12px;

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      line-clamp: 6;
      box-orient: vertical;
      word-break: break-word;
    }
  }

  &__content-status {
    display: flex;
    align-items: center;
    & svg {
      height: 12px;
      margin: 0 5px;
    }
  }

  &__user-img-holder {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 99px;
    overflow: hidden;
  }

  &__user-img {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
  }

  &__user-img-no-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: var(--site-bg-color);
  }

  &__is-read {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #ff2400;
  }

  &__date {
    width: max-content;
  }

  &.not-viewed {
    background-color: #ffffe2;
  }
}