.select-stage {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: var(--site-light-color);
  padding: 8px;
  border-radius: 8px;
  z-index: 10;
  min-width: 304px;
  max-width: 370px;
  box-shadow: var(--site-box-shadow);

  & > h4,
  & > h3{
    margin: 0 0 12px 0;
    text-align: center;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 8px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--site-default-color);
    line-height: 120%;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 17 5-5m0 0 5-5m-5 5L7 7m5 5 5 5' stroke='%2344546F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border-radius: 8px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #dfe1e6;
    }
  }

  &__inputs {
    display: flex;
  }

  &__input {
    flex: 1;
    background-color: #091E420F;
    border-radius: 3px;
    color: #172B4D;
    cursor: pointer;
    display: block;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    transition: background .2s ease;
    position: relative;

    &:hover {
      background-color: #091e4224;
    }

    &.select-stage__input--column {
      flex: 2;
      margin-right: 10px;
    }

    & > label{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 6px 12px 0;
      font-size: 13px;
    }

    .select-stage__inputs & select {
      position: relative;
      width: 100%;
      z-index: 2;
      background-color: transparent;
      border: none;
      background-image: unset;
      padding: 30px 12px 6px;
      line-height: 1;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font: 400 15px/var(--site-input-line-height) var(--site-font-family);
      color: var(--site-default-color);
    }
  }


}

.task__top-select-stage .select-stage {
  left: 0;
}