.header-selector {
  position: relative;
  &__btn {
    color: var(--site-default-color);
    cursor: pointer;
    padding: 6px 32px 6px 8px;
    position: relative;
    white-space: nowrap;
    border-radius: 3px;
    transition: background-color 0.2s;
    &:hover {
      background-color: #091e4224;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      right: 6px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M5 8.33333L10 13.3333L15 8.33333' stroke='%23202020' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      transition: transform .2s ease;
    }
  }
  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 240px;
    padding: 12px 0;
    background-color: var(--site-light-color);
    z-index: 11;
    border-radius: 8px;
    box-shadow: var(--site-box-shadow);
    max-height: 500px;
    overflow-y: auto;
  }
}

.header-projects-list {
  &__item-holder {
    padding: 10px 30px 10px 20px;
    transition: background .2s ease;
    cursor: pointer;
    position: relative;
    & a {
      display: flex;
      align-items:flex-start;
      gap: 10px;
      color: var(--site-default-color) !important;
    }
    & > a {
      text-decoration: none !important;
    }
    &:hover {
      background-color: #091E420F;
    }
    & img {
      min-width: 22px;
      width: 22px;
      min-height: 22px;
      height: 22px;
      border-radius:99px;
      object-fit: contain;
      padding: 1px;
      border: 1px solid #0000003d;
    }
    & > a::before{
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  &__item-marker {
    position: absolute;
    top: 45%;
    right: 8px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #ff2400;
  }
  &__item-background-img {
    min-width: 22px;
    width: 22px;
    min-height: 22px;
    height: 22px;
    border-radius:99px;
    background-color: var(--site-grey-color);
    border: 1px solid transparent;
  }
}



/*
.project-header-selector-item-holder
*/